{% extends 'base.html.twig' %}

{% block title %}Logowanie{% endblock %}

{% block body %}
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <form method="post">
                    {% if error %}
                        <div class="notification is-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="notification">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="title">Proszę się zalogować</h1>

                    <div class="field">
                        <label class="label" for="inputUsername">Nazwa użytkownika</label>
                        <div class="control">
                            <input class="input" type="text" value="{{ last_username }}" name="username" id="inputUsername" autocomplete="username" required autofocus>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="inputPassword">Hasło</label>
                        <div class="control">
                            <input class="input" type="password" name="password" id="inputPassword" autocomplete="current-password" required>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">Zaloguj się</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
